include COPYING TODO NEWS CREDITS MANIFEST.in bin/pykota bin/edpykota bin/warnpykota bin/repykota
recursive-include po *.po *.mo *.pot
recursive-include docs *.sgml *.png
recursive-include cgi-bin *.cgi
recursive-include conf README *.sample
recursive-include initscripts README README.* pykota-*.sql
recursive-include debian README printquota
