include COPYING TODO NEWS CREDITS SECURITY MANIFEST.in clean.sh bin/pykota bin/edpykota bin/warnpykota bin/repykota bin/pykotme bin/README
recursive-include po README *.po *.mo *.pot
recursive-include man README *.1
recursive-include docs README *.sgml *.png *.pdf *.html
recursive-include cgi-bin README *.cgi
recursive-include conf README *.sample
recursive-include initscripts README README.* pykota-*.sql *.py *.schema *.ldif
recursive-include debian README printquota
recursive-include untested README *.sh *.ps
recursive-include logos README *.png *.xcf
