# PyKota sample configuration file
#
# Copy this file in cups' configuration directory
# usually /etc/cups under the name pykota.conf
#
# PyKota - Print Quotas for CUPS
#
# (c) 2003 Jerome Alet <alet@librelogiciel.com>
# You're welcome to redistribute this software under the
# terms of the GNU General Public Licence version 2.0
# or, at your option, any higher version.
#
# You can read the complete GNU GPL in the file COPYING
# which should come along with this software, or visit
# the Free Software Foundation's WEB site http://www.fsf.org
#
# $Id$
#

[global]
# Storage backend for quotas
# only PostgreSQL is supported
# Ldap, MySQL, Berkeley are planned
storagebackend: postgresql
storageserver: localhost
storagename: pykota
storageadmin: pykotaadmin
storageuser: pykotauser
# storageadminpw: Comment out if unused, or set to Quota Storage admin password
# storageuserpw: Comment out if unused, or set to Quota Storage user password

# Where to log ?
# supported values : stderr, system (system means syslog, but don't use 'syslog' here)
logger: system

# Mail server to use to warn users
smtpserver: localhost

# Accounting method
# Only LAZY is currently supported, see documentation
method: lazy

# Print Quota administrator
# These values can be set either globally or per printer or both.
# If both are defined, the printer option has priority.
admin: Jerome Alet
adminmail: alet@librelogiciel.com

#
# Grace delay in days
# This value can be set either globally or per printer or both.
# If both are defined, the printer option has priority.
gracedelay: 7

# one section per printer, or no other section at all if all options are defined globally
[lp]

# How to query the lp printer for its page counter
# Only snmp(community, oid) and external(command) are supported
# e.g. : 
# requester: external(snmpget -c public -Ov %(printer)s 43.10.2.1.4.1.1 | cut -f 2,2 -d " ")
# and :
# requester: snmp(public, 43.10.2.1.4.1.1)
# are equivalent
# This value can be set either globally or per printer or both.
# If both are defined, the printer option has priority.
#
# NB : The SNMP oid 43.10.2.1.4.1.1 works on HP Laserjet Printers, but it may
#      be different with other brands, refer to your printer's documentation 
#      for details.
requester: external(snmpget -c public -Ov %(printer)s 43.10.2.1.4.1.1 | cut -f 2,2 -d " ")

# Default policy for inexistant users (e.g. root)
# either allow or deny
# This value can be set either globally or per printer or both.
# If both are defined, the printer option has priority.
policy: allow

